.nav-font{
    color: white; 
    font-family: 'Red Rose'; 
    font-size: 2.7vh;
}
.sidebar{
    display:flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-right: 3%;
    height: 100%;
    align-items: center;
}
