<ng-container>  
    <div class="container-fluid py-0 " style="background-color:black">
        <div class="row ">
            <div class="col-1">
                <img src="./../../../assets/icon/icono.svg" class="img-fluid">            
            </div>
            <div class="col-11">
                <div class="container text-end "> 
                    <div type="button" class="nav-font">
                        <i class=""> Inicio</i>
                    </div>
                    <div type="button" class="nav-font">
                        <i class=""> Servicios</i>
                    </div>
                    <div type="button" class="nav-font">
                        <i class=""> Proyectos</i>
                    </div>
                    <div type="button" class="nav-font">
                        <i class=""> CONTACTO</i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>
