<ng-container>  
    <div class="container-fluid py-0 align-items-center" style="background-color:black">
        <div class="row align-items-center">
            <div class="col-lg-4 col-md-6 col-sm-8 col-12 mt-2">
                <div class="row align-items-center align-content-center justify-content-center text-center" style="font-size: 15px;">
                    <div type="button" class="col-3" style="color: white; font-family: ;">
                        <i class=""> Inicio</i>
                    </div>
                    <div type="button" class="col-3" style="color: white;">
                        <i class=""> Servicios</i>
                    </div>
                    <div type="button" class="col-3" style="color: white;">
                        <i class=""> Proyectos Realizados</i>
                    </div>
                    <div type="button" class="col-3" style="color: white;">
                        <i class=""> CONTACTO</i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>
