<section id="inicio">
    <div class="container-fluid vh-100">
        <div class="fila-1">
            <div class="row">
                <h1 class="frase">¿Deseas ampliar el margen <br>de tu negocio?</h1>
            </div>
            <div class="row pt-3">
                <h2 class="frase">El poder está en tus manos</h2>
            </div>
            <div class="row">
                <app-coffe></app-coffe>
            </div>
        </div>

    </div>
</section>
<section i>
    <div class="fila-2">
        <div class="row">
            <h1 class=" services"> Principales servicios</h1>
        </div>
        <div class="row pt-5">
            <i class="fi-rr-refresh" style="background-color: white;"></i>
            <span> </span>
        </div>
    </div>
</section>
